# === Android / Gradle ===
*.iml
.gradle
/build
/app/build
/captures
.externalNativeBuild
.cxx

# === Local config (DO NOT COMMIT) ===
local.properties
gradle.properties
secrets.properties

# === Android Studio / IntelliJ ===
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# === Mac ===
.DS_Store

# === Signing keys (VERY IMPORTANT) ===
*.jks
*.keystore

# === Release outputs ===
app/release/